-
  var pages = [
  {name: 'Lem counter', url: '/lem-counter'},
  {name: 'Lem youtube', url: '/lem-youtube'},
  {name: 'Lem gmaps', url: '/lem-gmaps'},
  {name: 'Parallax background', url: '/parallax-background'},
  {name: 'Parallax content', url: '/parallax-content'},
  {name: 'Lem mixins', url: '/lem-mixins'}
  ];

  var page_title = "title";
  var page_description = 'description';
  var page_keywords = 'keywords';

block sharedVars

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title= page_title

    meta(name="description", content=page_description)
    meta(name="keywords", content=page_keywords)

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112465244-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-112465244-1');

  body(class='page-' + page_slug)
    header
      .container
        //div= page_title
        .wp-navbar-head
          a.logo(href='/')
            | lem
          button.wp-navbar-toggle(type='button')
            .animate-burger
              span.top
              span.middle
              span.bottom
        .wp-navbar-collapse
          ul.nav
            each i in pages
              li.menu-item(class={active: page_url == i.url})
                a(href=i.url)= i.name

    #page.page(class=page_slug)


      section.section-intro.back-img(style="background-image: url('/src/imgs/sample-img-1.jpg')")
        .container
          .content-wrap
            h3.main-ttl-1.section-title= page_title

            if repository && download_url
              .btn-group
                a(href=repository class="btn")
                  i.icon.icon-github-circled
                  | View on GitHub
                a(href=download_url class="btn")
                  i.icon.icon-download
                  | Download

      block main